<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.accessibility_detect">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<!--    <uses-permission android:name="android.permission.SHUTDOWN" />-->
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        >
        <receiver
            android:name=".BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ShutDownReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>
        </receiver>
        <receiver android:name="labelingStudy.nctu.minuku.receiver.NotificationHandleReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
        <receiver
            android:name=".RestartReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="checkService"/>
            </intent-filter>
        </receiver>
        <activity android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScreenCaptureActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".UploadToServer"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ESMresult" />
        <activity android:name="com.example.accessibility_detect.myimagecrop.CropImageActivity"/>
        <activity android:name=".ESM"
            android:theme = "@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleInstance"/>
        <activity android:name=".TimeActivity" />
        <activity android:name=".questions.FullScreenImage" />
        <activity android:name=".questions.FullScreenWeb" />
        <activity
            android:name=".questions.QuestionActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".diarys.FullScreenImage_diary" />
        <activity android:name=".diarys.FullScreenWeb_diary" />
        <activity
            android:name=".diarys.QuestionActivity_diary"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".questions_test.FullScreenImage_test" />
        <activity android:name=".questions_test.FullScreenWeb_test" />
        <activity
            android:name=".questions_test.QuestionActivity_test"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ChoosePicture"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".WiFireminder"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>
        <service
            android:name=".MyAccessibilityService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name="labelingStudy.nctu.minuku.service.NotificationListenService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">

            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
                <action android:name="com.google.android.apps.photos" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name=".ForegroundService">
            <intent-filter>
                <action android:name="com.google.android.apps.photos" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name=".ScreenCapture"/>
        <service android:name=".MyBackgroundService" />

        <receiver android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
        <receiver android:name=".NotificationClickReceiver"></receiver>

    </application>

</manifest>